server.document-root = "/path/to/local/romo-js/test"

server.port = 7666
server.pid-file = "/path/to/local/romo-js/test/support/lighttpd.pid"

mimetype.assign = (
  ".html" => "text/html",
  ".js"   => "text/javascript"
)
